<ion-header>
  <ion-toolbar color="warn">
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" auto-slides="true" autoplay="400" loop="true" speed="3000">
    <ion-slide>
      <h1>1</h1>
      <img src="assets\imgs\img1.jpg" height="100" width="100">
    </ion-slide>
    <ion-slide>
      <h1>2</h1>
      <img src="assets\imgs\img2.jpg" height="100" width="100">
    </ion-slide>
    <ion-slide>
      <h1>3</h1>
      <img src="assets\imgs\img3.jpg" height="100" width="100">
    </ion-slide>
    <ion-slide>
        <h1>4</h1>
        <img src="assets\imgs\img4.jpg" height="100" width="100">
      </ion-slide>  
      <ion-slide>
          <h1>5</h1>
          <img src="assets\imgs\img5.jpg" height="100" width="100">
        </ion-slide>
        <ion-slide>
          <h1>6</h1>
          <img src="assets\imgs\img6.jpg" height="100" width="100">
        </ion-slide>
  </ion-slides>
 

</ion-content>
