<ion-header>
  <ion-toolbar color="warn">
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <label>pen</label>
    <ion-toggle color="primary"></ion-toggle>
  </ion-item>
  <ion-item>
      <label>pen2</label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>
    <ion-item>
        <label>pen3</label>
        <ion-toggle color="dark"></ion-toggle>
      </ion-item>
</ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
