<ion-header>
  <ion-toolbar color="warn">
    <ion-title>tab7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>hello</h1>

<h1>
  range
</h1>
<ion-item>
    <ion-range min="20" max="80" step="2">
      <ion-icon size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon slot="end" name="sunny"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" color="secondary"></ion-range>
    </ion-item>
    <ion-range dualKnobs="true" min="21" max="72" step="3" snaps="false"></ion-range>

    <h1>radio button</h1>
    <ion-item>
      <ion-label>
        swamy
      </ion-label>
      <ion-radio value="swamy" slot="start"></ion-radio>
    </ion-item>
    <h1>progressbar</h1>
    <ion-progress-bar color="primary" value="0.5" buffer="0.4"></ion-progress-bar>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    <h1>spinner</h1>
    <ion-spinner name="lines-small">
    </ion-spinner>
    <ion-spinner name="dots" color="primary"></ion-spinner>
</ion-content>
<ion-footer>
    <ion-slides pager="true" auto-slides="true">
        <ion-slide>
          <h1>Slide 1</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
        </ion-slide>
        <ion-slide>
            <h1>Slide 4</h1>
          </ion-slide> 
          <ion-slide>
              <h1>Slide 5</h1>
            </ion-slide>
      </ion-slides>

 
</ion-footer>
